@import "vars"
@import "fonts"
@import "libs"
@import "_mixins/bgscreen"


::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html, body
	//height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: #333
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

a, a:hover, a:focus
	color: $accent
	text-decoration: none
	transition: all .15s ease-in-out

//COMMON START

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.white-heading, 
.dark-heading
	display: block
	margin: 0
	font-family: 'lora'
	font-size: 36px
	letter-spacing: 1.4px
.white-heading
	line-height: 1.5
	color: #fff
.dark-heading
	line-height: 0.67
	color: #333

.bg-screen
	height: 100vh
	display: flex
	flex-direction: column
	justify-content: center

.content-wrap
	width: 69%
	margin-left: auto
	position: relative

.section-padding
	padding-right: 11%
	padding-left: 9%
.icon-wrap svg
	max-width: 100%

//COMMON END

.main-sidebar
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 69%
	width: 31%
	background-color: #171717
	padding: 19px 2.5% 0 5.9%
	z-index: 100

	display: flex
	flex-direction: column
	transition: all .3s ease-in-out

.logo-wrap
	width: 63px
	height: 63px

.contact-line
	display: flex
	justify-content: space-between

.contact-item
	font-size: 14px
	color: #fff
	display: flex
	line-height: 1.71

	&:first-child
		margin-bottom: 10px
	&:hover
		svg
			fill: $accent

.contact-icon
	width: 26px
	height: 26px
	margin-right: 9px
	svg
		max-width: 100%
		fill: #fff
		transition: fill .15s ease-in-out

.photo-line
	width: 100%
.photo-wrap
	width: 130px
	height: 130px
	border-radius: 50%
	overflow: hidden
	margin: 0 auto

.sidebar-menu-link-wrap
	margin-bottom: 40px
	&:last-child
		margin-bottom: 0

.sidebar-menu-link
	color: #fff
	font-size: 16px
	line-height: 1.5
	letter-spacing: 0.6px
	transition: all .15s ease-in-out

	display: flex
	align-items: center

	svg
		fill: #fff
		transition: fill .15s ease-in-out
	&:hover
		//font-size: 18px
		.nav-icon-wrap
			margin-right: 25px
		svg
			fill: $accent

.sidebar-links-list
	list-style-type: none
	margin: 0
	padding: 0

.nav-icon-wrap
	width: 42px
	height: 42px
	margin-right: 22px
	transition: all .15s ease-in-out
	svg
		max-width: 100%

.sidebar-nav
	margin: auto 0
.photo-line
	margin-top: auto

//styles for open keyboards on mobiles
.sidebar-hidden
	display: none!important
.main-full-width
	width: 100%!important
.body-no-padding
	padding: 0!important



//MAIN PAGE START
//FIRST SCREEN START
.main-page-fscreen
	+bgscreen('../img/images/1.png')

	.name
		font-size: 30px
		line-height: normal
		color: $accent
		margin-top: 30px

.mobile-logo-wrap
	display: none
	position: absolute
	width: 54px
	height: 54px
	top: 10px
.mobile-contact-line
	display: none
	width: 100%
	justify-content: space-between

	.item
		color: #fff
		display: flex

	.icon-wrap
		width: 16px
		height: 16px
		margin-right: 16px
	svg
		fill: #fff
.main-page-fscreen .mobile-contact-line
	margin-top: 37px
.mobile-hr
	display: none
	width: 100%
	border: none
	border-top: 1px solid #fff
	margin: 39px 0

//MOBILE ADVANTAGES SLIDER START
#advantages-slider
	display: none
	padding-bottom: 55px

	.slick-dots
		padding: 0
		margin: 0
		list-style-type: none
		display: flex
		font-size: 0
		justify-content: center
		width: 100%
		position: absolute
		bottom: 0px


		li
			margin-right: 20px
			&:last-child
				margin-right: 0

		button
			width: 11px
			height: 11px
			border: none
			background-color: #acacac
			border-radius: 50%
	.slick-active button
		background-color: $accent
.advantage-slide
	.heading,
	.text
		display: block
		text-align: center
	.heading
		color: #fff
		font-size: 24px
		margin-bottom: 24px
	.text
		font-size: 18px
		color: #eee
		line-height: 1.33
		padding: 0 20%

//MOBILE ADVANTAGES SLIDER END

//FIRST SCREEN END

//SERVIES SCREEN START
.services-screen
	padding-top: 80px
	padding-bottom: 40px
	padding-right: 20%

	.text-content
		font-size: 18px
		line-height: 1.33
		letter-spacing: 0.7px
		color: #555
		margin: 50px 0
		//padding-right: 12%

.services-container
	display: flex
	flex-wrap: wrap

.service-item
	width: 50%
	display: flex
	flex-direction: column
	align-items: center
	color: #333
	font-size: 18px
	line-height: 1
	margin-bottom: 40px
	text-align: center

	.icon-wrap
		width: 47px
		height: 47px
		margin-bottom: 20px

	svg
		fill: $accent
//SERVIES SCREEN END
//WORK PROCESS SCREEN START
.work-process-screen
	padding-top: 80px
	padding-bottom: 80px
.process-order
	margin: 50px 0 0 0
	padding: 0
	display: flex
	flex-wrap: wrap
	list-style-type: none
	font-size: 16px
	line-height: 1.45
	letter-spacing: 0.6px
	p
		margin: 0
	.number
		display: flex
		justify-content: center
		align-items: center
		height: 42px
		width: 42px
		background-color: $accent
		font-size: 27px
		color: #fff
		line-height: 0.67
		border-radius: 50%
		margin-bottom: 30px
	.half-column
		padding-right: 12%
		&:nth-child(1)
			margin-bottom: 30px
.half-column
	width: 50%
//WORK PROCESS SCREEN END
//CONTACT FORM SCREEn START
.main-contact-form-screen
	+bgscreen('../img/images/4.png')
.contact-form-screen
	display: flex
	flex-direction: column
	justify-content: space-around
	padding-right: 35%
	.contact-form
		display: flex
		flex-direction: column
		width: 90%
		font-size: 16px
		line-height: 1.88

		input, button
			background: transparent
		input::placeholder
				color: #fff
		input
			border: none
			border-bottom: 1px solid #fff
			width: 100%
			padding: 0 11px
			margin-bottom: 35px
			color: #fff
			transition: all .25s ease-in-out
			&::placeholder
				transition: all .25s ease-in-out
			&:focus
				color: $accent
				border-bottom: 1px solid $accent
				&::placeholder
					color: $accent
		button
			border: solid 2px $accent
			line-height: normal
			padding: 7px 0
			color: #fff
			transition: all .25s ease-in-out
			&:hover
				background: $accent
				cursor: pointer
	.email-line
		color: #fff
		a:hover
			text-decoration: underline
	.caption
		display: inline-block
		margin-right: 30px
//CONTACT FORM SCREEn END
//MAIN PAGE END

//ADVICE PAGE START
.advice-page-fscreen
	+bgscreen('../img/images/2.png')

//PLAIN TEXT SCREEN START
.plain-text-screen
	padding-top: 47px
	min-height: 100vh
	display: flex
	flex-direction: column
	justify-content: center

	.dark-heading
		margin-bottom: 40px
//PLAIN TEXT SCREEN END

//CONTACT FORM SCREEN START
.advice-contact-form-screen
	+bgscreen('../img/images/romb.png')
	background-repeat: repeat
	padding-top: 70px
.contact-form.advice-contact-form
	
	input::placeholder
		color: #666
	
	input
			border-bottom-color: #666
	button
		color: #666
		&:hover
			color: #fff

	&+.email-line
		color: #666

//CONTACT FORM SCREEN END
//ADVICE PAGE END
//CONTACT PAGE START
.contact-info-page
	min-height: 100vh
.mobile-bg-contacts
	padding-top: 80px
	height: 104px
.contact-info
	min-height: calc(100vh - 104px)
	display: flex
	flex-direction: column
.contact-info-links
	//padding-top: 80px
.contact-wrap
	margin-top: 40px
.contact-address-line,
.contact-phones-line,
.contact-email-line
	margin-bottom: 38px
	.icon-wrap
		width: 16px
		height: 16px
		margin-right: 10px
	svg
		fill: $accent
	.item
		display: flex
		flex-wrap: wrap
		align-items: center
	a
		color: #333
		&:hover
			color: $accent
.contact-phones-line
	display: flex
	flex-wrap: wrap
	justify-content: space-between
.map-wrap
	flex-grow: 1
	display: flex

	iframe
		width: 100%
		height: auto
//CONTACT PAGE END

//PRACTICE PAGE START
.white-heading-mob
	display: none
.practice-page-fscreen
	+bgscreen('../img/images/3.png')
.practice-links
	//min-height: 100vh
	padding-top: 50px
	padding-right: 16%
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
.practice-item .icons-line
	display: flex
	flex-direction: row
	justify-content: space-between
	margin-bottom: 22px
.icons-line svg
	width: auto
	height: 30px
	fill: $accent
	transition: all .25s ease-in-out
.practice-item
	width: 49%
	padding: 30px
	line-height: 1.5
	color: #333
	transition: all .25s ease-in-out
	margin-bottom: 10px
	position: relative

	&:hover
		background: $accent
		transition: all .25s ease-in-out
		color: #fff
		svg
			fill: #fff
		.icon-next
			right: 0px
.icon-next
	position: relative
	right: 6px
	transition: all .25s ease-in-out
//PRACTICE PAGE END

//article page

.back-link
	display: flex
	padding-top: 15px
	padding-bottom: 15px
	border-bottom: 1px solid rgba(19, 19, 19, 0.2)

.back-icon-wrap
	width: 24px
	height: auto
	svg
		transform: rotate(180deg)
.article-section-wrap
	padding-top: 40px
	.dark-heading
		margin-bottom: 20px

.subcats-list
	padding: 0
	margin: 36px 0 0 0
	list-style-type: none
.next-cat-ico
	position: relative
	width: 20px
	fill: #333
	transition: all .15s ease-in-out
	right: 0
.subcat-item:first-child .subcat-link
	border-top: 1px solid rgba(19,19,19,0.2)
.subcat-link
	display: flex
	align-items: center
	position: relative
	color: #333
	padding: 24px 21px 24px 42px
	background: url('../img/icons/diamond-accent.svg') no-repeat left center
	background-size: 15px 15px
	border-bottom: 1px solid rgba(19,19,19,0.2)

	&:hover .next-cat-ico
		fill: $accent
		right: -5px
.subcat-name
	flex-grow: 1
//article page end

//menu styles
@keyframes menu-animation
	0%
		opacity: 1
		transform: scale(0.01) translateY(0)
		transition: ease-out
	99.9%
		opacity: 1
		height: 0
		padding-bottom: 100%
		border-radius: 100%
	100%
		opacity: 1
		transform: scale(2) translateY(0px)
		height: 100%
		padding-bottom: 0
		border-radius: 0
@keyframes menu-rotate
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

.body-menu-open
	overflow: hidden

.main-menu-container
	display: none
	//position: absolute
	position: fixed
	top: 0
	right: 0
	width: calc(69% + 1px)
	height: 100%
	z-index: 9
	//overflow-y: scroll
	//background: #fff
	//border-radius: 0% 0% 0% 100%
	animation-name: menubg
	animation-duration: 5s
	animation-iteration-count: 1
	animation-timing-function: lineaar
	border-radius: 0
	overflow: hidden
.menu-open+.main-menu-container
	display: block

.main-menu-container:before
	content: ''
	position: absolute
	top: calc(-100% + 97px)
	right: calc(-100% + 100% / 0.69 * 0.17 + 42px)
	bottom: 0
	left: 0
	margin: auto
	background-color: rgba(19, 19, 19, 1)
	width: 100%
	height: 0
	padding-bottom: 100%
	border-radius: 100%
	transform: scale(0.07) translateY(0)
	overflow: hidden

.menu-btn.menu-open+.main-menu-container:before
	width: 100%
	animation: menu-animation .8s ease-out forwards
	transform: scale(4) translateY(0)

.menu-btn
	position: absolute
	top: 33px
	right: 8.5%
	width: 45px
	height: 31px
	background: transparent
	z-index: 10
	display: flex
	align-items: center
	cursor: pointer

.menu-icon
	&:before,
	&:after
		content: ''
	&:before
		top: -15px
	&:after
		bottom: -15px
	&, &:before, &:after
		transition: all .5s ease-in-out
		position: absolute	
		background: #fff
		display: block
		width: 100%
		height: 4px
		border-radius: 4px

.menu-open
	.menu-icon
		background: transparent
		animation-name: menu-rotate
		animation-duration: 1s

		&:before
			transform: rotate(45deg)
			top: 0px
		&:after
			transform: rotate(-45deg)
			bottom: 0px

//menu-lists styles
.menu-wrap
	width: 100%
	height: 100%
	overflow-y: scroll
	z-index: 10
	position: relative
	text-align: center
	display: flex
	align-items: center

	ul
		list-style-type: none
	li
		margin: 15px 0
.menu-subcat-list,
.menu-list
	margin: 0
	padding: 0
.menu-list
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	user-select: none
.menu-cat-item
	min-width: 34%
.menu-cat-link,
.menu-subcat-link
	color: #ebebeb
	display: block
.menu-cat-link
	line-height: 1
	font-family: 'lora'
	font-size: 24px
.menu-subcat-link
	font-size: 20px
	line-height: 1.2

.menu-subcat-item
	opacity: 0
.menu-open + .main-menu-container .menu-subcat-item
	animation: menu-show-cat .8s ease-out forwards 0.9s
@keyframes menu-show-cat
	0%
		transform: translateY(36px)
		opacity: 0
		transition: all .35s ease-out
	100%
		transform: translateY(0)
		opacity: 1

.menu-cat-link
	opacity: 0
	transform: translateY(36px)
.menu-open + .main-menu-container .menu-cat-link
	animation: menu-show-cat .3s ease-out forwards
	animation-delay: .5s

@for $i from 1 through 4
	.menu-open + .main-menu-container .menu-subcat-item:nth-child(#{$i})
		animation-delay: #{$i * 0.1 + 0.65}s



@import "media" // Always at the end
